.cardGroup{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 40px;

    flex-direction: row;
    gap: 45px;
}

.card{
    overflow: hidden;
    font-size: 1rem;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #E23F3F;
    border: 3px solid #E23F3F;
    padding: 20px;
    border-radius: 7px;
}

.card h4{
    font-weight: bold;
    font-size: 1.1rem;
}

.imageCard{
    margin-bottom: 20px;
    width: 90px;
}

.imageCard img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

section + section{
    margin-top: 40px;
}