.main{
    background: url('../../assets/background_azul.webp');
    
    
    margin-top: -65px;

    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 25px;
}

.main img{
    max-width: 1200px;
    width: 100%;
}

.imageInit{
    vertical-align: middle;
    margin-bottom: 20px;
}

