:root{
    --dark-blue-900: #0E1D26;

    --gray-800: #2B2A2A;
    --gray-500: #7C7C8A;

    --white: #ffffff;

    --red-common-house: #E23F3F;
    --blue-common-house: #34538A;
    --green-common-house:#55AF69;
    --yellow-commom-house: #FFB91D;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-blue-900);
}

input, select, button, body, textarea{
    font-family: "Roboto", sans-serif ;
    font-size: 1rem;
    font-weight: 400;
}